name: Pull Request
on:
  pull_request:
    types: [synchronize, opened, reopened]
    branches: ['main']

jobs:
  PR:
    name: Pull Request
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Run lint
        run: make lint

      - uses: actions/setup-go@v5
        with:
          go-version: '^1.24.1'
          cache-dependency-path: go.sum

      - name: Run kubeconform
        shell: bash
        run: |
          go install github.com/yannh/kubeconform/cmd/kubeconform@v0.6.7
          helm template charts/qdrant | kubeconform --summary -output pretty -schema-location default -schema-location "https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/{{.Group}}/{{.ResourceKind}}_{{.ResourceAPIVersion}}.json"

      - name: Check Go Formatting
        run: |
          files=$(gofmt -l .) && echo $files && [ -z "$files" ]

      - name: Golang CI Lint
        uses: golangci/golangci-lint-action@v8
        with:
          working-directory: test
          version: v2.1.6 # Specify the golangci-lint version, so we are stable
          args: --timeout 10m # Increase the timeout to 10 minutes

      - name: Run unit tests
        run: make test-unit

      - name: Setup BATS
        uses: mig4/setup-bats@v1
        with:
          bats-version: 1.11.1

      - name: Run integration tests
        run: make test-integration
