name: Release
on:
  push:
    branches:
      - main
    paths:
      - 'charts/*/Chart.yaml'
jobs:
  Release:
    name: Release Workflow
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "ghrunnerbot"
          git config user.email "cloud-dev@qdrant.com"

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.7.0
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
        with:
          config: cr.yaml

      - name: Checkout to gh-pages
        uses: actions/checkout@v6
        with:
          ref: gh-pages

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.24

      - name: Generate index.html
        run: |
          go install github.com/halkeye/helm-repo-html@v0.2.1
          /home/runner/go/bin/helm-repo-html

      - uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: "Update index.html"

      - name: Login to GHCR
        uses: docker/login-action@v3.2.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Push chart to GHCR
        run: |
          shopt -s nullglob
          for pkg in .cr-release-packages/*.tgz; do
            if [ -z "${pkg:-}" ]; then
              break
            fi
            helm push "${pkg}" "oci://ghcr.io/${GITHUB_REPOSITORY_OWNER}/qdrant-helm"
          done
